{{#if homeData}}
    {{#if homeData.aboutUsImage.data}}
        <!-- BANNER-SECTION START -->
        <div class="banner-section section pb-100">
            <div class="container">
                <!-- Banner Item Start -->
                <div class="single-banner-2">
                    <img src="{{resourceUrl homeData.aboutUsImage.data.attributes.url}}"
                         alt="{{resourceUrl homeData.aboutUsImage.data.attributes.name}}">
                    <div class="content">
                        <h1>{{homeData.aboutUsTitle}}</h1>
                        <p>{{{nl2br homeData.aboutUsDescription}}}</p>
                        <a href="{{homeData.aboutUsLink}}">xem thêm</a>
                    </div>
                </div>
                <!-- Banner Item End -->
            </div>
        </div>
        <!-- BANNER-SECTION END -->
    {{/if}}
{{/if}}
