{{#if articleData}}
    <!-- BLOG SECTION START -->
    <div class="blog-section section pt-100 pb-60">
        <div class="container">
            <div class="section-title text-center mb-70">
                <h4>mới nhất</h4>
                <h2>Giới thiệu Công trình</h2>
            </div>
            <div class="row">
                {{#each articleData}}
                    <!-- blog-item start -->
                    <div class="col-lg-4 col-md-6 col-12 mb-8">
                        <div class="blog-item">
                            {{#if attributes.thumb}}
                                <a class="image" href="/cong-trinh/{{attributes.slug}}">
                                    <img src="{{resourceUrl attributes.thumb.data.attributes.url}}"
                                         alt="{{resourceUrl attributes.thumb.data.attributes.name}}">
                                </a>
                            {{/if}}
                            <div class="blog-dsc">
                                <span class="date">{{moment createdAt "DD-MM-YYYY"}}</span>
                                <h4 class="title">
                                    <a href="/cong-trinh/{{attributes.slug}}">{{attributes.title}}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!-- blog-item end -->
                {{/each}}
            </div>
        </div>
    </div>
    <!-- BLOG SECTION END -->
{{/if}}