{{#if productData}}
    <!-- PRODUCT SECTION START -->
    <div class="product-section section pb-100">
        <div class="container">
            <div class="section-title text-center mb-70">
                <h4>Bộ sưu tập</h4>
                <h2>Mới ra mắt</h2>
            </div>
            <div class="product-slider product-slider-4 slick-space">
                {{#each productData}}
                    <!-- product-item start -->
                    <div class="product-item text-center">
                        <div class="product-img">
                            <a class="image" href="/san-pham/{{attributes.slug}}">
                                <img src="{{resourceUrl attributes.thumb.data.attributes.url}}"
                                     alt="{{attributes.thumb.data.attributes.name}}"/>
                            </a>
                            <a href="/lien-he" class="add-to-cart">Tư vấn</a>
                        </div>
                        <div class="product-info">
                            <h5 class="title"><a href="/san-pham/{{attributes.slug}}">{{attributes.name}}</a></h5>
                            <span class="price">
                                {{#if attributes.salePrice}}
                                    <span class="new">{{attributes.salePrice}} VND</span>
                                                    <span class="old">{{attributes.price}} VND</span>
                                {{else}}
                                    <span class="new">{{attributes.price}} VND</span>
                                {{/if}}
                            </span>
                        </div>
                    </div>
                {{/each}}
                <!-- product-item end -->
            </div>
        </div>
    </div>
    <!-- PRODUCT SECTION END -->
{{/if}}
