<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pb-60 pt-100">
    <div class="container">
        <div class="row">
            <!-- Footer Widget -->
            <div class="footer-widget col-lg-6 col-md-6 col-12 mb-8">
                <h4 class="widget-title">Thông tin liên hệ</h4>
                <p><strong>Địa chỉ :</strong> <span>{{commonData.address}}</span></p>
                <p><strong>Số điện thoại :</strong> <a href="telto:{{commonData.phone}}">{{commonData.phone}}</a></p>
                <p><strong>Email :</strong> <a href="mailto:{{commonData.email}}">{{commonData.email}}</a></p>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget link-widget col-lg-3 col-md-6 col-12 mb-8">
                <h4 class="widget-title">sitemap</h4>
                {{#if commonData.sitemapFooter}}
                    <ul>
                        {{#each commonData.sitemapFooter}}
                            <li><a href="{{link}}">{{displayText}}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
            <!-- Footer Widget -->
            <!--            <div class="footer-widget col-lg-3 col-md-6 col-12 mb-8">-->
            <!--                <h4 class="widget-title">tags</h4>-->
            <!--                <div class="tag-cloud fix">-->
            <!--                    <a href="shop.html">brand</a>-->
            <!--                    <a href="shop.html">fashion</a>-->
            <!--                    <a href="shop.html">sale</a>-->
            <!--                    <a href="shop.html">winter sale</a>-->
            <!--                    <a href="shop.html">summer sale</a>-->
            <!--                    <a href="shop.html">men</a>-->
            <!--                    <a href="shop.html">women</a>-->
            <!--                    <a href="shop.html">kids</a>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            &lt;!&ndash; Footer Widget &ndash;&gt;-->
            <div class="footer-widget col-lg-3 col-md-6 col-12 mb-8">
                <h4 class="widget-title">
                    <a href="/">
                        <img src="{{resourceUrl commonData.footerLogo.data.attributes.url}}"
                             alt="{{commonData.footerLogo.data.attributes.name}}">
                    </a>
                </h4>
                <p>{{commonData.slogan}}</p>
                <!-- Footer Social -->
                <div class="footer-social fix">
                    {{#if commonData.facebook}}
                        <a href="{{commonData.facebook}}" target="_blank" rel="noopener">
                            <i class="fa fa-facebook"></i>
                        </a>
                    {{/if}}
                    {{#if commonData.facebook}}
                        <a href="{{commonData.zalo}}" target="_blank" rel="noopener">
                            Zalo
                        </a>
                    {{/if}}
                    {{#if commonData.youtube}}
                        <a href="{{commonData.youtube}}" target="_blank" rel="noopener">
                            <i class="fa fa-youtube"></i>
                        </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER TOP SECTION END -->

<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section pb-20 pt-20">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="copyright text-center text-md-start col-md-6 col-12">
                <p>© 2022 Furnish. Made with <i class="fa fa-heart heart-icon"></i> By <a target="_blank" href="#">Thongbn</a>
                </p>
            </div>
            <!-- Payment Method -->
            <div class="payment-method text-center text-md-end col-md-6 col-12">
<!--                <a href="shop.html">-->
<!--                    <img src="/v1/img/payment/1.png" alt="payment"/>-->
<!--                    <img src="/v1/img/payment/2.png" alt="payment"/>-->
<!--                    <img src="/v1/img/payment/3.png" alt="payment"/>-->
<!--                    <img src="/v1/img/payment/4.png" alt="payment"/>-->
<!--                </a>-->
            </div>
        </div>
    </div>
</div>
<!-- FOOTER BOTTOM SECTION END -->
